<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User POO</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form action="./../Controller/User/index.php" method="post">
            
            <div class="">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>

            <div class="">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </div>

            <button type="submit" name="submit">Send!</button>
        </form>
    </body>
</html>
